@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(240, 253, 244);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  color: #a8dadc;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8dadc !important;
}

.bgg-image {
  background-image: url("assets/services/img-3.jpg");
}

.card {
  @apply relative w-72 cursor-pointer border-b-4 rounded-md bg-gradient-to-t from-white/20 h-44 text-center px-3 py-7 self-end duration-500 delay-100;
}

.card-active {
  @apply h-96;
}

.logo {
  @apply text-5xl mt-2 max-w-[5rem] mx-auto min-w-[5rem] min-h-[5rem] rounded-full  grid place-items-center;
}

.para {
  @apply mt-3;
}

.card .skill-level {
  @apply border-2 border-gray-200 text-white min-w-[3rem] min-h-[3rem] grid place-items-center rounded-full max-w-[3rem] absolute -right-2.5 scale-0;
}

.card-active .skill-level {
  @apply scale-[1.3] delay-700 duration-300;
}
